.reset{
    margin-right: 150px;
 }
 .bg-image{
    background-image: url('../Image/banner.png');
    background-size: cover;
    background-position: center;
    
}
.btn-login{
    border: none;
    width: 300px;
    height: 60px;
    text-align: center;
    font-size: 30px;
    border-radius: 10px;
    background-color: #033949;
    color: #fff;
    transition: 0.6s;
}
.btn-login:hover{
    border-radius: 10px;
    box-shadow: 0 0 0 4px #fff ,
    0 0 0 8px #033949;
}
.margin{
    color: white;
    box-shadow:0 0 10px;
    background-color: white;
    border-radius: 10px;
} 
.connect {
    color: white;
    text-align: center;
    font-size: 40px;
}




